@charset "ISO-8859-1";

.wrapper {
	padding-top: 200px;
	width: 90%;
	margin: 0 auto;
}

.list {
	display: table;
	margin: 0 auto;
}

.centered {
	text-align: center;
}

.block {
	margin-bottom: 10px;
}

.incorrect {
	color: red
}